@{
    ViewBag.Title = "Guest User Details:";
}

<p>
    <h2 class="alert">Under Construction!</h2>
</p>

<p>
    This feature has not been implemented yet!
</p>

<p>
    @Html.ActionLink("« Back To Selecting a Sample User", "Index", "Guest", null, new { @class = "btn btn-info" })
</p>