@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<blockquote class="blockquote blockquote-reverse">
    <p class="m-b-0">@ViewBag.Message</p>
    <footer class="blockquote-footer">S. Godin in <cite title="Source Title">Poke the Box</cite></footer>
</blockquote>

<h2>What motivated me to write this?</h2>

<p>I read a book, by <a href="https://en.wikipedia.org/wiki/Seth_Godin">Seth Godin</a>, called 
    <a href="http://www.amazon.com/Poke-Box-When-Something-First/dp/1591848253/ref=sr_1_1?ie=UTF8&qid=1457228570&sr=8-1&keywords=poke+the+box+by+seth+godin">
        <b>Poke The Box</b>
    </a>. It changed me. It challenged me.
</p>
<p>
    If you get that book, I hope it does the same for you. Let me know how it goes. Now go!
</p>
