@{
    ViewBag.Title = "My Contact Info";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Anibal Velarde<br />
    Twin Cities, Minnesota, USA<br />
</address>

<address>
    <strong>Twitter:</strong>   <a href="https://twitter.com/AnibalVelarde">Anibal Velarde at Twitter</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/anibalvelarde">Anibal Velarde at Github</a>
</address>